<div class="container-fluid wrapper">
    {{> sidebar }}
    <!-- Content -->
    <div class="container-fluid p-3" id="content">
        <div class="table-responsive">
        <table class="table table-curved table-striped table-bordered dt-responsive display nowrap" id="logTable" style="width:100%">
            <thead class="table-primary text-center">
                <tr>
                    <th>Name</th>
                    <th>Started</th>
                    <th>Ended</th>
                    <th>Duration</th>
                    <th>Starting Location</th>
                    <th>End Location</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="data">
                {{#each sessions}}
                <tr>
                    <td>{{this.name}}</td>
                    <td>{{this.startDate}}</td>
                    <td>{{this.endDate}}</td>
                    <td>
                            {{#if this.duration.days}}
                            {{this.duration.days}} days
                            {{/if}}
                            {{#if this.duration.hours}}
                            {{this.duration.hours}}h
                            {{/if}}
                            {{#if this.duration.minutes}}
                            {{this.duration.minutes}}min
                            {{/if}}
                            {{#if this.duration.seconds}}
                            {{this.duration.seconds}}sec
                            {{/if}}

                    </td>
                    <td>
                            {{#if this.startLocation.road}}
                            {{this.startLocation.road}}
                            {{/if}}
                            {{#if this.startLocation.house_number}}
                            {{this.startLocation.house_number}} <br>
                            {{/if}}
                            {{#if this.startLocation.town}}
                            {{this.startLocation.town}}
                            {{/if}}
                            {{#if this.startLocation.state}}
                            {{this.startLocation.state}} <br>
                            {{/if}}
                            {{#if this.startLocation.postcode}}
                            {{this.startLocation.postcode}}
                            {{/if}}
                            {{#if this.startLocation.country}}
                            {{this.startLocation.country}}
                            {{/if}}
                    </td>
                    <td>
                            {{#if this.endLocation.road}}
                            {{this.endLocation.road}}
                            {{/if}}
                            {{#if this.endLocation.house_number}}
                            {{this.endLocation.house_number}} <br>
                            {{/if}}
                            {{#if this.endLocation.town}}
                            {{this.endLocation.town}}
                            {{/if}}
                            {{#if this.endLocation.state}}
                            {{this.endLocation.state}} <br>
                            {{/if}}
                            {{#if this.endLocation.postcode}}
                            {{this.endLocation.postcode}}
                            {{/if}}
                            {{#if this.endLocation.country}}
                            {{this.endLocation.country}}
                            {{/if}}
                    </td>
                    <td>
                        <div class="btn-group">
                            <a data-toggle="tooltip" data-placement="top" title="Edit" class="btn btn-primary table-button rounded primary-tooltip" href="/edit/{{this.id}}"><i class="fas fa-pen"></i></a>
                            <span data-toggle="tooltip" data-placement="top" title="Delete">
                            <button class="btn btn-primary table-button rounded primary-tooltip" data-toggle="modal" data-target="#deleteSessionModal"
                                data-id="{{this.id}}"><i class="fas fa-trash"></i></button>
                            </span>
                        </div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        </div>
        <div class="modal fade" id="deleteSessionModal" tabindex="-1" role="dialog" aria-labelledby="deleteSessionModal" aria-hidden="true">
            <div class="modal-dialog modal-confirm">
                <div class="modal-content p-3">
                    <div class="modal-header d-flex flex-column">
                        <div class="icon-box">
                            <i class="fas fa-trash"></i>
                        </div>
                        <h4 class="modal-title mx-auto">Are you sure?</h4>	
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Do you really want to delete this session? This action cannot be undone.</p>
                    </div>
                    <div class="modal-footer mx-auto">
                        <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                        <button type="button" id="modalDeleteButton" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>