<div class="container-fluid wrapper">
  {{> sidebar }}
  <!-- Content -->
  <div class="dashcontainer container-fluid">
        <div id='map' class="split content"></div>
        <div id="graph" class="split content px-3 py-1">
            <select id='pidSelectChart' class="chosen-select w-100" data-placeholder="Choose from PIDs..." multiple></select>
            <div class="chart-container row mt-2">
                <canvas id="chart"></canvas>
            </div>
        </div>

    </div>
  </div>
</div>

<div class="modal fade" id="selectSessionModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                Select a session
            </div>
            <div class="modal-body">
                <div class="table-responsive">
        <table class="table table-curved table-striped table-bordered dt-responsive display nowrap" id="logTable" style="width:100%">
            <thead class="table-primary text-center">
                <tr>
                    <th>Name</th>
                    <th>Started</th>
                    <th>Ended</th>
                    <th>Duration</th>
                    <th>Starting Location</th>
                    <th>End Location</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="data">
                {{#each sessions}}
                <tr>
                    <td>{{this.dataValues.name}}</td>
                    <td>{{this.dataValues.startDate}}</td>
                    <td>{{this.dataValues.endDate}}</td>
                    <td>
                            {{#if this.dataValues.duration.days}}
                            {{this.dataValues.duration.days}} days
                            {{/if}}
                            {{#if this.dataValues.duration.hours}}
                            {{this.dataValues.duration.hours}}h
                            {{/if}}
                            {{#if this.dataValues.duration.minutes}}
                            {{this.dataValues.duration.minutes}}min
                            {{/if}}
                            {{#if this.dataValues.duration.seconds}}
                            {{this.dataValues.duration.seconds}}sec
                            {{/if}}

                    </td>
                    <td>
                            {{#if this.dataValues.startLocation.road}}
                            {{this.dataValues.startLocation.road}}
                            {{/if}}
                            {{#if this.dataValues.startLocation.house_number}}
                            {{this.dataValues.startLocation.house_number}} <br>
                            {{/if}}
                            {{#if this.dataValues.startLocation.town}}
                            {{this.dataValues.startLocation.town}}
                            {{/if}}
                            {{#if this.dataValues.startLocation.state}}
                            {{this.dataValues.startLocation.state}} <br>
                            {{/if}}
                            {{#if this.dataValues.startLocation.postcode}}
                            {{this.dataValues.startLocation.postcode}}
                            {{/if}}
                            {{#if this.dataValues.startLocation.country}}
                            {{this.dataValues.startLocation.country}}
                            {{/if}}
                    </td>
                    <td>
                            {{#if this.dataValues.endLocation.road}}
                            {{this.dataValues.endLocation.road}}
                            {{/if}}
                            {{#if this.dataValues.endLocation.house_number}}
                            {{this.dataValues.endLocation.house_number}} <br>
                            {{/if}}
                            {{#if this.dataValues.endLocation.town}}
                            {{this.dataValues.endLocation.town}}
                            {{/if}}
                            {{#if this.dataValues.endLocation.state}}
                            {{this.dataValues.endLocation.state}} <br>
                            {{/if}}
                            {{#if this.dataValues.endLocation.postcode}}
                            {{this.dataValues.endLocation.postcode}}
                            {{/if}}
                            {{#if this.dataValues.endLocation.country}}
                            {{this.dataValues.endLocation.country}}
                            {{/if}}
                    </td>
                    <td>
                        <div class="btn-group">
                            <button class="btn btn-primary m-2" onclick="selectSession({{this.id}})">Select</button>
                            </span>
                        </div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>